@{
  Layout = "_Layout";
}

<h1>@Model</h1>

<div class="error-buttons">
  @Html.ActionLink("ADD STYLIST", "Create", "Stylists", null, new { @class = "btn" })
  @Html.ActionLink("VIEW STYLISTS", "Index", "Stylists", null, new { @class = "btn" })
  @Html.ActionLink("VIEW CLIENTS", "Index", "Clients", null, new { @class = "btn" })
</div>