@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<div class="home-buttons">
  @Html.ActionLink("STYLISTS", "Index", "Stylists", null, new { @class = "btn" })
  @Html.ActionLink("CLIENTELE", "Index", "Clients", null, new { @class = "btn" })
</div>